.image-carousel {
  object-fit: contain;
  border-radius: 15px;
}
.slick-dots,
.slick-dots-bottom {
  margin-bottom: 0px;
}

.image-near-carousel {
  height: 100% !important;
  border-radius: 15px;
}

.wraper-brand-product {
  border-radius: 8px;
  background: linear-gradient(rgba(255, 255, 255, 0) 22.49%, rgb(255, 255, 255) 73.49%),
    linear-gradient(264.03deg, rgb(220, 229, 251) -10.27%, rgb(234, 236, 255) 35.65%, rgb(213, 236, 253) 110.66%);;
}


// Media query for mobile devices (up to 767px)
@media (max-width: 767px) {
.image-near-carousel {
  display: none;
}
  
}

// Media query for tablet devices (768px to 991px)
@media (min-width: 768px) and (max-width: 991px) {


}
